---
import Layout from "../layouts/BlogPost.astro";
import Nikki from "../assets/nikki.jpeg";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "@fontsource/itim";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<Header />
<h3>Truly Selfish....just like a cat</h3>
