---
import Layout from '../layouts/BlogPost.astro';
import Nikki from '../assets/nikki.jpeg';
---

<Layout
	title="Single Line Description"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('October 05 2025')}
	heroImage={Nikki}
>

<h3>Truly Selfish....just like a cat</h3>


</Layout>
