---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import '@fontsource/itim'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .intro > * {
        gap: 0;
        padding: 0;
        margin: 0;
      }

	  .name{
		font-family:'Itim'
	  }

	  ul {
    padding-left: 0; /* Remove left padding from the list */
	list-style: none;
  }

  li {
    list-style-position: inside; /* Optional: Adjust bullet alignment */
  }

	  @media (max-width: 768px) {
    .name {
      font-size: 2.5em; /* Adjust font size for h3 equivalent */
    }
  }

  img{
	text-align: center;
	
  }

  .image_container{
	
	display: flex;
	justify-content: center;
  }

    </style>
  </head>
  <body>
    <Header />
	
    <main>
		
      <div class="intro">
        <h1 class="name">Nikhil Simon Toppo</h1>
        <p>Currently pursuing decent grades</p>
        <p>Stuck with Goofy</p>
      </div>
      <hr style="height: 2px; background-color: gray; border: none;" />

      <p>
        I prefer simple solutions to problems. The goal is to keep it minimal
        and easy to maintain. Macros are my life line. I prefer designing over
        other stuff. I have plenty of experience with Javascript/Typescript.
        Proficient in frameworks like React and Express. I also handle IT/Server
        related issues regularly over several microservices such as EC2, GCE. I
        am good at convincing....and also getting convinced.
      </p>
	  <h2>OSS</h2>
	  <ul>
		<li>LinkedSearch</li>
		<li>News & Publications Society</li>
		<li>Tethered</li>
		<li>Pokedex</li>
		<li>Starway</li>
	  </ul>
	  <div class="image_container">
		<img src="cat2.png" alt="" srcset="">
	  </div>
    </main>
    <Footer />
  </body>
</html>
